<div #infoDiv class="esri-widget" id="infoDiv">
  <b>Filter by geometry</b><br /><br />
  <br />Draw a geometry to filter by:
  <div class="geometry-options">
    <button
      (click)="geometryButtonsClickHandler($event)"
      class="esri-widget--button esri-icon-map-pin geometry-button"
      id="point-geometry-button"
      title="Filter by point"
      value="point"
    ></button>
    <button
      (click)="geometryButtonsClickHandler($event)"
      class="esri-widget--button esri-icon-polyline geometry-button"
      id="line-geometry-button"
      title="Filter by line"
      value="polyline"
    ></button>
    <button
      (click)="geometryButtonsClickHandler($event)"
      class="esri-widget--button esri-icon-polygon geometry-button"
      id="polygon-geometry-button"
      title="Filter by polygon"
      value="polygon"
    ></button>
  </div>
  <br />
  <label for="relationship-select">Spatial relationship:</label>
  <select (change)="queryByClientsideFilter()" [(ngModel)]="selectedSpatialRelationship" class="options uk-select"
          id="relationship-select">
    <!--    Create an option for all possible spatial relationships-->
    <option *ngFor="let relationship of spatialRelationships" [ngValue]="relationship">{{relationship}}</option>
  </select
  ><br /><br />
  <label for="bufferSlider">Set a geometry buffer size:</label>
  <ngx-slider (userChange)="onSliderUserChange()" (userChangeEnd)="onSliderUserChangeEnd()" [(value)]="bufferSize" [options]="sliderConfig"
              id="bufferSlider"></ngx-slider>
  <br /><br />
  <button (click)="clearFilter()" class="esri-button" id="clearFilter" type="button">
    Clear filter
  </button>
</div>
