<div class="uk-container">
  <h1 class="uk-heading-medium uk-heading-bullet">Configuration</h1>
  <p>On this page you can quickly configure the infraviewer</p>
  <button class="uk-button uk-button-primary" type="button" (click)="getInformation(true)">Refresh config</button>

  <ul uk-accordion *ngIf="configuration">
    <li class="uk-open">
      <h2 class="uk-accordion-title">Configuration</h2>
      <div class="uk-accordion-content">
        <section class="layers">
          <h3 class="uk-heading-divider">Layers</h3>
          <ul class="uk-list uk-list-disc uk-list-primary uk-list-divider">
            <li @swipeLeft *ngFor="let layer of configuration.layers">
              <ng-template *ngTemplateOutlet="layerTemplate; context: {layer: layer, type: layer.type} "></ng-template>
            </li>
          </ul>
        </section>
      </div>
    </li>
    <li>
      <h2 class="uk-accordion-title">Advanced Config</h2>
      <section class="uk-accordion-content">
        <form class="uk-form-stacked" #advancedForm="ngForm" (ngSubmit)="onAdvancedConfigSubmit()">
          <div>
            <label class="uk-form-label">Configuration JSON</label>
            <div class="uk-form-controls">
            <textarea class="uk-textarea uk-height-viewport" name="advancedConfiguration"
                      [(ngModel)]="configurationString"></textarea>
            </div>
          </div>
          <button type="submit" [disabled]="advancedForm.invalid"
                  class="uk-margin-small-top uk-button uk-button-primary">Submit
          </button>
        </form>
      </section>
    </li>
  </ul>
</div>

<ng-template #layerTemplate let-layer="layer" let-type="type">
  <div class="uk-flex uk-flex-between">
    <div class="uk-width-1-1" (click)="startEditingLayer(layer)">
      <ng-container [ngSwitch]="type">
        <span *ngSwitchCase="'scene'" uk-icon="icon: world"></span>
        <span *ngSwitchCase="'geoJSON'" uk-icon="icon: code"></span>
        <span *ngSwitchCase="'feature'" uk-icon="icon: location"></span>
        <span *ngSwitchCase="'map-image'" uk-icon="icon: image"></span>
        <span *ngSwitchDefault uk-icon="icon: question"></span>
      </ng-container>
      <span class="uk-margin-small-left"
            [class.uk-text-warning]="!layer.title">{{layer.title || "Unknown Title"}}</span>
    </div>
    <div class="uk-flex">
      <button class="uk-button uk-button-default uk-button-small" (click)="toggleLayerVisibility(layer)">
        <span uk-icon="icon: check" *ngIf="layer.visible === undefined || layer.visible === true"></span>
        <span uk-icon="icon: close" *ngIf="layer.visible === false"></span>
      </button>
      <button class="uk-button uk-button-danger uk-button-small" (click)="deleteLayer(layer)">
        <span uk-icon="icon: trash"></span>
      </button>
    </div>
  </div>
</ng-template>


<app-layer-editor [rootLayerConfig]="selectedLayer" [configuration]="configuration"
                  (save)="onLayerConfigSave($event)"></app-layer-editor>
