<div class="uk-container">
  <h1 class="uk-heading-medium uk-heading-bullet">Configuration</h1>
  <p>On this page you can quickly configure the infraviewer</p>
  <form class="uk-form-stacked" #form="ngForm">
    <div class="uk-grid uk-flex-between">
      <button class="uk-button uk-button-default" type="button" (click)="getInformation(true)">Refresh config</button>
      <button
        type="submit"
        [disabled]="form.invalid"
        (click)="onAdvancedConfigSubmit()" class="uk-button uk-button-primary">Submit
      </button>
    </div>
    <ul uk-accordion *ngIf="configuration">
      <li class="uk-open">
        <h2 class="uk-accordion-title">Layers</h2>
        <div class="uk-accordion-content">
          <section class="layers">
            <ul class="uk-list uk-list-disc uk-list-primary uk-list-divider">
              <li @swipeLeft *ngFor="let layer of configuration.layers">
                <ng-template
                  *ngTemplateOutlet="layerTemplate; context: {layer: layer, type: layer.type} "></ng-template>
              </li>
            </ul>
          </section>
        </div>
      </li>
      <li>
        <h2 class="uk-accordion-title">Quality Settings</h2>
        <div class="uk-accordion-content">
          <section>
            <!--          Create a select box for quality profile, low medium or high-->
            <div class="uk-margin">
              <label class="uk-form-label" for="qualityProfile">Quality</label>
              <div class="uk-form-controls">
                <select name="qualityProfile" class="uk-select" id="qualityProfile"
                        [(ngModel)]="configuration.view.qualityProfile">
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
              </div>
            </div>
            <!--            Create a checkbox for starsEnabled and atmosphereEnabled-->
            <div class="uk-margin">
              <label class="uk-form-label" for="starsEnabled">
                <input name="starsEnabled" type="checkbox" id="starsEnabled"
                       [(ngModel)]="configuration.view.environment.starsEnabled"> Stars enabled</label>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="atmosphereEnabled">
                <input name="atmosphereEnabled" type="checkbox"
                       id="atmosphereEnabled"
                       [(ngModel)]="configuration.view.environment.atmosphereEnabled"> Atmosphere enabled</label>
            </div>
          </section>
        </div>
      </li>
      <li>
        <h2 class="uk-accordion-title">Advanced Config</h2>
        <section class="uk-accordion-content">
          <div>
            <label class="uk-form-label">Configuration JSON</label>
            <div class="uk-form-controls">
            <textarea class="uk-textarea uk-height-viewport" name="advancedConfiguration"
                      [(ngModel)]="configurationString"></textarea>
            </div>
          </div>
        </section>
      </li>
    </ul>
  </form>
</div>

<ng-template #layerTemplate let-layer="layer" let-type="type">
  <div class="uk-flex uk-flex-between">
    <div class="uk-width-1-1" (click)="startEditingLayer(layer)">
      <ng-container [ngSwitch]="type">
        <span *ngSwitchCase="'scene'" uk-icon="icon: world"></span>
        <span *ngSwitchCase="'geoJSON'" uk-icon="icon: code"></span>
        <span *ngSwitchCase="'feature'" uk-icon="icon: location"></span>
        <span *ngSwitchCase="'map-image'" uk-icon="icon: image"></span>
        <span *ngSwitchDefault uk-icon="icon: question"></span>
      </ng-container>
      <span class="uk-margin-small-left"
            [class.uk-text-warning]="!layer.title">{{layer.title || "Unknown Title"}}</span>
    </div>
    <div class="uk-flex">
      <button class="uk-button uk-button-default uk-button-small" (click)="toggleLayerVisibility(layer)">
        <span uk-icon="icon: check" *ngIf="layer.visible === undefined || layer.visible === true"></span>
        <span uk-icon="icon: close" *ngIf="layer.visible === false"></span>
      </button>
      <button class="uk-button uk-button-danger uk-button-small" (click)="deleteLayer(layer)">
        <span uk-icon="icon: trash"></span>
      </button>
    </div>
  </div>
</ng-template>


<app-layer-editor [rootLayerConfig]="selectedLayer" [configuration]="configuration"
                  (save)="onLayerConfigSave($event)"></app-layer-editor>
