# set "DOCKER_BUILDKIT=0" & docker-compose build
# docker run --rm -it id sh
# set "DOCKER_BUILDKIT=0" & docker build . -t spotifymanager:nx-base
version: "3.8"

networks:
  corp:
    driver: bridge

services:
  api:
    container_name: api
    build:
      context: ./
      cache_from:
        - staijn/spotifymanager:nx-base
      dockerfile: ./apps/api/Dockerfile
      args:
        NODE_ENV: "development"
        BUILD_FLAG: ""
    image: staijn/spotifymanager:api
    ports:
      - 4939:3333
    environment:
      NODE_ENV: "development"
      PORT: 3333
    networks:
      - corp
    restart: on-failure

  website:
    container_name: website
    build:
      context: ./
      cache_from:
        - nginx:1.19.2
      dockerfile: ./apps/website/Dockerfile
      args:
        NODE_ENV: "development"
        BUILD_FLAG: ""
    image: staijn/spotifymanager:website
    ports:
      - 4900:80
    environment:
      NODE_ENV: "development"
      PORT: 4900
    networks:
      - corp
#    restart: on-failure
