.ag-row .ag-cell {
  display: flex;
  align-items: center;
}


@import "theme/theme";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import "aos/dist/aos.css";
@import "~@ng-select/ng-select/themes/ant.design.theme.css";

.uk-background-danger {
  background: $global-danger-background;
}

.uk-background-warning {
  background: $global-warning-background;
}

.uk-background-success {
  background: $global-success-background;
}

.uk-card-default{
  box-shadow: $global-small-box-shadow;
}
