<div #modal class="uk-modal-full uk-overflow-auto" uk-modal>
  <div class="uk-modal-dialog h-100vh" *ngIf="rootLayerConfig && serviceInfo">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close (click)="cancelEdit()"></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Layer Configuration</h2>
      <p>Select a sublayer on the left to start editing it's properties!</p>
    </div>
    <div class="uk-modal-body uk-container uk-child-width-expand" uk-grid>
      <!--      A list of all sublayers, but if there aren't any, just show the editor-->
      <ng-template #noSublayers>
        <div class="uk-padding-large uk-padding-remove-vertical uk-width-1-1">
          <ng-template *ngTemplateOutlet="sublayerEditor"></ng-template>
        </div>
      </ng-template>
      <div class="uk-width-1-3" *ngIf="layersWithoutChildren.length > 1; else noSublayers">
        <ul
          class="uk-tab-left max-h-100vh overflow-scroll-y uk-flex-nowrap"
          uk-tab="connect: #sublayer-list; animation: uk-animation-fade">
          <li
            *ngFor="let sublayer of layersWithoutChildren; let i = index"
            [class.uk-active]="i === selectedSublayerIndex">
            <a (click)="selectSublayer(sublayer)">{{sublayer.name}}</a>
          </li>
        </ul>
      </div>
      <div class="uk-width-2-3">
        <ul id="sublayer-list" class="uk-switcher">
          <li *ngFor="let sublayer of layersWithoutChildren">
            <ng-template *ngTemplateOutlet="sublayerEditor"></ng-template>
          </li>
        </ul>
      </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default" type="button" (click)="cancelEdit()">Cancel</button>
      <button class="uk-button uk-button-primary" type="submit" (click)="onLayerSave()">Save</button>
    </div>
  </div>
</div>

<ng-template #sublayerEditor>
  <div *ngIf="selectedLayer">
    <ul uk-tab="animation: uk-animation-fade">
      <li><a href="#">General Settings</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
      <li>
        <div class="uk-margin">
          <label class="uk-form-label">Title</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" name="title" [(ngModel)]="selectedLayer.title" required>
          </div>
        </div>
        <div class="uk-margin uk-child-width-expand" uk-grid>
          <div>
            <label class="uk-form-label" for="minScale">Min Scale</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="minScale" name="minScale" type="number" step="100"
                     [(ngModel)]="selectedLayer.minScale">
            </div>
          </div>
          <div>
            <label class="uk-form-label" for="maxScale">Max Scale</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="maxScale" name="maxScale" type="number" step="100"
                     [(ngModel)]="selectedLayer.maxScale">
            </div>
          </div>
        </div>
        <!--           Create a checkbox to show the layer in the legend. -->
        <div class="uk-margin" uk-grid>
          <div class="uk-width-1-2">
            <ng-container *ngIf="selectedLayer.type !== 'map-image'">
              <label class="uk-display-block">
                <input class="uk-checkbox" type="checkbox"
                       [(ngModel)]="selectedLayer.legendEnabled"> Show layer in legend
              </label>
              <label class="uk-display-block">
                <input class="uk-checkbox" type="checkbox"
                       [(ngModel)]="selectedLayer.popupEnabled"> Enable popup
              </label>
            </ng-container>
            <label class="uk-display-block">
              <input class="uk-checkbox" type="checkbox"
                     [(ngModel)]="selectedLayer.visible"> Make layer visible by default
            </label>
          </div>
        </div>
        <div class="uk-margin uk-grid uk-child-width-expand" *ngIf="selectedLayer.type !== 'map-image'">
          <div>
            <label class="uk-form-label" for="elevationMode">Elevation Mode</label>
            <div class="uk-form-controls">
              <select class="uk-select" id="elevationMode" name="elevationMode"
                      [(ngModel)]="selectedLayer.elevationInfo.mode">
                <option value="on-the-ground">On the ground</option>
                <option value="relative-to-ground">Relative to ground</option>
                <option value="relative-to-scene">Relative to scene</option>
                <option value="absolute-height">Absolute height</option>
              </select>
            </div>
          </div>
          <div *ngIf="selectedLayer.elevationInfo.mode !== 'on-the-ground'">
            <label class="uk-form-label" for="units">Units</label>
            <div class="uk-form-controls">
              <select class="uk-select" id="units" name="units"
                      [(ngModel)]="selectedLayer.elevationInfo.unit">
                <option value="centimeters">Centimeters</option>
                <option value="meters">Meters</option>
                <option value="kilometers">Kilometers</option>
                <option value="us-feet">US Feet</option>
                <option value="feet">Feet</option>
                <option value="miles">Miles</option>
                <option value="yards">Yards</option>
              </select>
            </div>
          </div>
          <div *ngIf="selectedLayer.elevationInfo.mode !== 'on-the-ground'">
            <label class="uk-form-label" for="offset">Offset</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="offset" name="offset" type="number" step="0.1"
                     [(ngModel)]="selectedLayer.elevationInfo.offset">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
