<div (keydown)="onKeyDown($event)" id="map"></div>

<div #measurementWidgetsContainer class="uk-background-white" id="measurement-widgets-container">
  <ul class="uk-padding-small uk-padding-remove-vertical" uk-tab="animation:uk-animation-fade;">
    <li><a href="#">Distance</a></li>
    <li><a href="#">Surface</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li class="uk-padding-small uk-padding-remove-vertical">
      <p>Create a distance measurement</p>
      <button (click)="clearMeasurements('distance')" class="uk-button uk-button-default uk-width-1-1">Clear</button>
      <div #distanceMeasurement id="distance-measurement"></div>
    </li>
    <li class="uk-padding-small uk-padding-remove-vertical">
      <p>Create a surface measurement</p>
      <button (click)="clearMeasurements('surface')" class="uk-button uk-button-default uk-width-1-1">Clear</button>
      <div #surfaceMeasurement id="surface-measurement"></div>
    </li>
  </ul>

</div>

<app-sketch-query-widget (query)="this.query.emit($event)"></app-sketch-query-widget>
